<!-- PAGE HEADER-->
<header class="page-header">
    <!--navbar block-->
    <div class="navbar">
        <a class="logo" href="#" onclick="callFunc()"></a>
        <ul class="nav-h">
            <li>
                <a class="btn profile profile--hover-bg" href="#">
                    <img src="../assets/profile.jpg">
                    <span>{{ $ctrl.username }}</span>
                </a>
            </li>
            <li>
                <a class="btn" href="#">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span>Log Out</span>
                </a>
            </li>
        </ul>
    </div>
</header>